/*========NAVBAR=========*/
nav {
    background-color: aquamarine;
}

/*========HEADER=========*/
header {
    background-color: #FF2400;
}

h1 {
    color: white;
    text-transform: uppercase;
}

ul {
    list-style: none;
}